@using dragonstartrek.Generators
@model List<NPC>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <th>Full Name</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Marital Status</th>
        <th>Profession</th>
        <th>Physical Description</th>
    </thead>
    <tbody>

    @foreach(var npc in Model) {
        <tr>
            <td>@npc.FullName()</td>
            <td>@npc.Species</td>
            <td>@npc.Gender</td>
            <td>@npc.MaritalStatus</td>
            <td>@npc.Profession</td>
            <td>@npc.PhysicalDescription.Build</td>
        </tr>
    }
    </tbody>
</table>